.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #777;
  background-image: url("./home-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.2);
}
